alembic==1.18.4
amqp==5.3.1
beautifulsoup4
billiard==4.2.4
celery==5.6.2
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
google-genai
idna==3.11
kombu==5.6.2
langdetect
lxml
Mako==1.3.10
MarkupSafe==3.0.3
packaging==26.0
playwright
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify
redis==7.4.0
requests==2.32.5
sentencepiece
six==1.17.0
SQLAlchemy==2.0.48
tenacity
tiktoken
torch
trafilatura
transformers
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
yt-dlp==2026.3.17
sacremoses
